.contact {
  position: relative;
  padding: 50px 0;
}

form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

@media (max-width: 650px) {
  form {
    max-width: 100%;
    margin: auto;
  }
}

form .field {
  position: relative;
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--main-color);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

form .name,
form .email,
form .message {
  position: relative;
  z-index: 1;
  padding: 15px;
  width: 100%;
  height: 100%;
  color: var(--color-foreground);
  background: transparent;
  resize: none;
}

form .message {
  height: 150px;
}

form .name::placeholder,
form .email::placeholder,
form .message::placeholder {
  color: var(--color-muted);
}

form .field span.layer {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-bg-second);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

form .name:focus+span.layer,
form .email:focus+span.layer,
form .message:focus+span.layer {
  width: 100%;
}

form button {
  width: 140px;
  height: 48px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}